body {
    background-color: #615747;
}

.contenedor_calculadora {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('background.png');
    background-color: transparent;
    background-size: cover;
}

.calculadora_iphone {
    background-color: #000;
    border-radius: 20px;
    padding: 5px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(0, 0, 0, 0.5);
}

.pantalla_entrada_calculadora {
    width: 288px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vista_previa_numero_calculadora {
    width: 275px;
    height: 100%;
    outline: none;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 20px;
    overflow-y: hidden;
    text-align: right;
    resize: none;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 0px 0px 0px;
    color: #dbd8d3;

}

#entrada_numero_calculadora {
    width: 275px;
    height: 100px;
    outline: none;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 40px;
    overflow-y: hidden;
    text-align: right;
    resize: none;
}

/*** diseno de botones ***********/
.botones_calculadora {
    display: flex;
    flex-direction: row;
}

.botones_calculadora_izquierda_arriba {
    display: flex;
    flex-direction: row;
}

/*** tamano de botones usando multiples clases ****/
.boton_calculadora_tamano_fijo_arriba,
.boton_calculadora_tamano_fijo_numero,
.boton_calculadora_tamano_fijo_abajo,
.boton_calculadora_tamano_fijo_naranja {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin: 5px;


}

/****color dado a los botones**********/
.boton_calculadora_tamano_fijo_arriba {
    background-color: rgb(224, 240, 255);
}

.boton_calculadora_tamano_fijo_numero {
    background-color: rgb(145, 145, 145);
}

.boton_calculadora_tamano_fijo_abajo {
    background-color: rgb(145, 145, 145);

}

.boton_calculadora_tamano_fijo_naranja {
    background-color: orange;
    color: #fff;
    font-size: 30px;
}

.botones_calculadora_izquierda_numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 218px;
    color: white;
}

.botones_calculadora_izquierda_abajo {
    display: flex;
    flex-direction: row;
    color: white;
}

#boton_calculadora_tamano_fijo_abajo_cero {
    width: 130px;
    align-items: left;
    text-align: left;
}

.botones_calculadora_derecha {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 2em;
    padding: 10px;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.8),
        /* Sombra estilo neon verde */
        0 0 20px rgba(0, 255, 0, 0.8),
        0 0 30px rgba(0, 255, 0, 0.8);
    animation: moveAndColorChange 20s infinite;
}

@keyframes moveAndColorChange {

    0%,
    100% {
        transform: translateY(0);
        color: white;
    }

    20% {
        transform: translateY(-10px);
        color: #ff0000;
        /* Rojo */
    }

    40% {
        transform: translateY(0);
        color: #00ff00;
        /* Verde */
    }

    60% {
        transform: translateY(-10px);
        color: #0000ff;
        /* Azul */
    }

    80% {
        transform: translateY(0);
        color: #ffff00;
        /* Amarillo */
    }
}